Brotli
certifi==2025.1.31
contourpy
cycler
fonttools
kiwisolver
matplotlib==3.10.0
numpy
packaging
pandas==2.2.3
pillow
pyparsing
python-dateutil
pytz==2025.1
six
tornado
tzdata==2025.1
ucimlrepo==0.0.7
unicodedata2
